In [ ]:
a = "Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

In [ ]:
# + *
a = "Hello "
b = "World"
print(a+b)

Hello World

In [ ]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [1]:
a = "Aakash Shah"
print(a+1)

TypeError: ignored

In [ ]:
a = "Hello World"
a[0]

'H'

In [ ]:
a = "Hello World"
a[0:5]

'Hello'

In [ ]:
a = "Hello World"
a[0:10:2]

'HloWr'

In [ ]:
a = "Hello World"
a[10::-1]

'dlroW olleH'

In [ ]:
a = "Python"
for i in a:
    print(i,end = " ")

P y t h o n

In [ ]:
a = "Python"#because python has 6 character so that i=5
for i in a:
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
a = input("Enter The value of a = ")
type(a)

Enter The value of a = 10

str

In [ ]:
# string formatting
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter address = ")
    info = f"Hello I am {name}.I am from {add}. I am {age}\n"
    #f = string formating in which we can concatenate strings,integers and many more with {}
    data = data+info
    
print(data)

Enter n = 2
Enter name = dsfasdfds
Enter age =2432
Enter address = sdfsdf
Enter name = dsfsfsd
Enter age =324
Enter address = sdfsd
Hello I am dsfasdfds.I am from sdfsdf. I am 2432
Hello I am dsfsfsd.I am from sdfsd. I am 324

In [ ]:
print(info)

Hello I am sfsdsd.I am from sdfsd. I am 234

In [ ]:
a = "Hello World I am Python."
if "Python" in a:
    print("Yes")

Yes

In [ ]:
a.count("Python")

1

In [ ]:
a = "Hello World I am Python."
search = input("Enter any value for search = ")
if search in a:
    print("Yes")
    print(f"{search} in a is =",a.count(search))

Enter any value for search = Python
Yes
Python in a is = 1

In [ ]:
a = "Hello World"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [ ]:
a = "Hello World I am Python."
search = input("Enter any value for search = ")
a_lower = a.lower()
lower_search = search.lower()
if lower_search in a_lower:
    print("Yes")
    print(f"{search} in a is =",a_lower.count(lower_search))

Enter any value for search = PyThon
Yes
PyThon in a is = 1

In [4]:
# a.replace('initial value','final value')
a = "Hello World I am Python."
search = input("Enter any value for search = ")
replace_with =  input("Enter any value for replace = ")
b = a.replace(search,replace_with)  #syntax for replace
print(b)

Enter any value for search = Python
Enter any value for replace = Aakash
Hello World I am Aakash.

In [ ]:
a = "Hello World I am Python."
search = input("Enter any value for search = ")
replace_with =  input("Enter any value for replce = ")
a_lower = a.lower()
lower_search = search.lower()
if lower_search in a_lower:
    print("Yes")
    b = a_lower.replace(lower_search,replace_with)
    print(b)

Enter any value for search = python
Enter any value for replce = Java
Yes
hello world i am Java.

In [ ]:
a = "Hello World I am Python."
b = a.replace("Python","")
b

'Hello World I am .'

In [ ]:
data = ""
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter address = ")
    info = f"{i} {name} {add} {age}\n"
    data = data+info
    
print(data)

Enter n = 2
Enter name = Ram
Enter age =34
Enter address = Patan
Enter name = Shyam
Enter age =34
Enter address = Kathmandu
1 Ram Patan 34
2 Shyam Kathmandu 34

In [ ]:
b = data.replace("Ram Patan","Sita Bhaktapur")
print(b)

1 Sita Bhaktapur 34
2 Shyam Kathmandu 34

In [ ]:
c = b.split('\n')
c

['1 Sita Bhaktapur 34', '2 Shyam Kathmandu 34', '']

In [ ]:
c[0]

'1 Sita Bhaktapur 34'

In [ ]:
a = "Apple Ball"
b =a.split()
b

['Apple', 'Ball']

In [ ]:
a = "Apple.Ball"
a.split('.')

['Apple', 'Ball']